.cnt_gen_noticias {
  background: #f4f4f4;
}

.cnt_tob_not_dest {
  width: 100%;
  display: flex;
  gap: 5%;
}

.cnt_not_dest {
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: block;
}
.cnt_not_dest:hover .img_not_dest img {
  transform: scale(1.1);
}

.img_not_dest {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img_not_dest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  display: block;
}

.cnt_inf_not_dest {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 70%, rgba(0, 0, 0, 0) 100%);
  box-sizing: border-box;
  padding: 40px 40px 24px;
  text-align: left;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.cnt_inf_not_dest .fecha_nota {
  padding-right: 16px;
  border-right: 1px solid #fff;
}
.cnt_inf_not_dest .autor_nota, .cnt_inf_not_dest .fecha_nota {
  width: auto;
  color: #fff;
  font-weight: 600;
}
.cnt_inf_not_dest .btn_not {
  color: #fff;
}

.row_fecha_autor {
  display: flex;
  gap: 16px;
}

.fecha_nota {
  font-size: 13px;
  line-height: 15px;
  color: var(--c_pri);
  width: 100%;
}

.autor_nota {
  font-size: 13px;
  line-height: 15px;
  color: var(--c_pri);
  width: 100%;
}
.autor_nota span {
  font-weight: 600;
}

.h_not_dest {
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  font-weight: 900;
  color: #fff;
}

.txt_not_dest {
  font-size: 16px;
  color: #fff;
}

.btn_not {
  width: 100%;
  font-size: 14px;
  color: var(--c_pri);
  text-decoration: underline;
  padding-top: 8px;
}

.col_top_dest {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.cnt_otra_not_dest {
  width: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
}
.cnt_otra_not_dest:hover {
  background: var(--c_pri);
}
.cnt_otra_not_dest:hover .img_otra_not_dest img {
  transform: scale(1.1);
}
.cnt_otra_not_dest:hover .h_otra_not_dest, .cnt_otra_not_dest:hover .fecha_nota, .cnt_otra_not_dest:hover .autor_nota, .cnt_otra_not_dest:hover .btn_not {
  color: #fff;
}

.img_otra_not_dest {
  width: 45%;
  overflow: hidden;
}
.img_otra_not_dest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  display: block;
}

.inf_otra_not_dest {
  width: 55%;
  box-sizing: border-box;
  padding: 24px 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cnt_fecha_autor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.h_otra_not_dest {
  font-size: 20px;
  line-height: 22px;
  font-weight: 900;
  color: var(--c_pri);
}

.cnt_bot_not {
  width: 100%;
  padding: 48px 0 100px;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 5%;
  overflow: hidden;
}
.cnt_bot_not::before {
  content: "";
  width: 882px;
  height: 429px;
  background: rgba(225, 223, 238, 0.7);
  filter: blur(72px);
  position: absolute;
  z-index: -1;
  bottom: -30%;
  left: 50%;
  transform: translatex(-50%);
}

.col_list_not {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 24px;
}

.card_not_list {
  width: 49%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.card_not_list:hover {
  background: var(--c_pri);
}
.card_not_list:hover .img_otra_not_dest img {
  transform: scale(1.1);
}
.card_not_list:hover .h_otra_not_dest, .card_not_list:hover .fecha_nota, .card_not_list:hover .autor_nota, .card_not_list:hover .btn_not {
  color: #fff;
}
.card_not_list:hover .img_card_not img {
  transform: scale(1.1);
}

.img_card_not {
  width: 100%;
  height: 235px;
  overflow: hidden;
}
.img_card_not img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.cnt_inf_card_not {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.col_list_not_dest {
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.h_list_not_dest {
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  text-align: left;
  color: var(--c_pri);
}

.list_not_dest {
  width: 100%;
}

.itm_list_not_dest {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  padding: 24px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.itm_list_not_dest:hover {
  background: #fafafa;
}

/*******INTERNA********/
.cnt_gen_noticias_interna {
  background-color: #FAFAFA;
  position: relative;
}

.cnt_nota_int {
  width: 100%;
  max-width: 847px;
  margin: auto;
  padding: 60px 0 100px;
}

.cnt_top_nota_int {
  width: 100%;
  display: flex;
  gap: 20px;
}

.col_compartir_nota {
  width: 90px;
  min-width: 90px;
  position: relative;
}

.cnt_redes_nota {
  background: #FFFFFF;
  box-shadow: 0px 8px 17px -4px #98A8E3;
  border-radius: 4px;
  position: sticky;
  top: 130px;
  width: 38px;
  overflow: hidden;
}

.red_nota {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-family: "icomoon";
  color: var(--c_pri);
  cursor: pointer;
}
.red_nota:hover {
  background: var(--c_pri);
  color: #fff;
}

.col_nota_int {
  flex-grow: 1;
  text-align: left;
}

.row_fecha_autor .fecha_nota, .row_fecha_autor .autor_nota {
  width: auto;
}
.row_fecha_autor .fecha_nota {
  padding-right: 16px;
  border-right: 1px solid var(--c_pri);
}

.h_nota_int {
  font-size: 50px;
  width: 100%;
  font-weight: 900;
  line-height: 110%;
  color: var(--c_pri);
}

.img_dest_nota_int {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  margin: 24px 0;
}
.img_dest_nota_int img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.txt_nota_int {
  width: 100%;
  text-align: left;
  padding: 24px 0;
}
.txt_nota_int a {
  color: var(--c_link);
}
.txt_nota_int ul {
  padding-left: 24px;
  box-sizing: border-box;
}
.txt_nota_int h2 {
  font-size: 32px;
  color: var(--c_pri);
  font-weight: 900;
  padding: 12px 0;
}
.txt_nota_int h3 {
  font-size: 20px;
  color: var(--c_pri);
  font-weight: 900;
  padding: 8px 0;
}

.row_cta {
  width: 100%;
  text-align: center;
  padding: 48px 0;
}

.cnt_not_interes_int {
  width: 100%;
  padding: 32px 0;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.h_not_interes_int {
  width: 100%;
  font-size: 32px;
  font-weight: 900;
  color: var(--c_pri);
  text-align: center;
  padding: 10px 0;
}

.cnt_cards_not_interes_int {
  width: 100%;
  display: flex;
  gap: 20px;
}

.cnt_ant_sig_not_int {
  width: 100%;
}

.bnt_ant_sig_nota {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 12px 20px;
  position: fixed;
  top: 30%;
  width: 225px;
  min-height: 110px;
  overflow: hidden;
  z-index: 1;
}
.bnt_ant_sig_nota:hover {
  background: var(--c_pri);
}
.bnt_ant_sig_nota:hover .img_btn_ant_sig {
  opacity: 0.08;
}
.bnt_ant_sig_nota:hover .cnt_h_ant_sig_not,
.bnt_ant_sig_nota:hover .txt_ant_sig_not {
  color: #fff;
}
.bnt_ant_sig_nota:hover .ic_ant_sig {
  max-width: 100px;
  color: #fff;
}
.bnt_ant_sig_nota.nota_ant, .bnt_ant_sig_nota.nota_sig {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bnt_ant_sig_nota.nota_ant {
  border-radius: 0 12px 12px 0;
  text-align: left;
  left: 0;
}
.bnt_ant_sig_nota.nota_ant:hover .ic_ant_sig {
  padding-right: 8px;
}
.bnt_ant_sig_nota.nota_sig {
  border-radius: 12px 0 0 12px;
  text-align: right;
  right: 0;
}
.bnt_ant_sig_nota.nota_sig:hover .ic_ant_sig {
  padding-left: 8px;
}
.bnt_ant_sig_nota.nota_sig .cnt_h_ant_sig_not {
  justify-content: flex-end;
}

.img_btn_ant_sig {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.img_btn_ant_sig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cnt_h_ant_sig_not {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #282828;
}

.ic_ant_sig {
  max-width: 0;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  font-size: 18px !important;
}

.txt_ant_sig_not {
  width: 100%;
  font-size: 14px;
  line-height: 120%;
  color: #282828;
}

/**********************/
@media screen and (max-width: 1300px) {
  /*******INTERNA********/
  .bnt_ant_sig_nota {
    width: 175px;
  }
  /**********************/
}
@media screen and (max-width: 1200px) {
  /*******INTERNA********/
  .cnt_ant_sig_not_int {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }
  .bnt_ant_sig_nota {
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    width: 48%;
    min-height: inherit;
    max-width: 400px;
    box-shadow: none;
    border-radius: none;
    background: transparent;
  }
  .cnt_h_ant_sig_not {
    gap: 12px;
  }
  .ic_ant_sig {
    max-width: 100px;
  }
  /**********************/
}
@media screen and (max-width: 1050px) {
  .h_oikos {
    font-size: 32px;
  }
  .cnt_tob_not_dest, .cnt_bot_not {
    gap: 2%;
  }
  /*******INTERNA********/
  /**********************/
}
@media screen and (max-width: 768px) {
  .h_oikos {
    padding: 16px 0;
  }
  .cnt_tob_not_dest, .cnt_bot_not {
    flex-direction: column;
    row-gap: 24px;
  }
  .cnt_not_dest, .col_top_dest, .col_list_not, .col_list_not_dest {
    width: 100%;
  }
  .cnt_inf_not_dest {
    position: relative;
    background: var(--c_pri);
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .col_list_not_dest {
    padding: 24px 0 0;
    gap: 0;
  }
  /*******INTERNA********/
  .cnt_nota_int {
    padding: 32px 0 64px;
  }
  .col_compartir_nota {
    min-width: inherit;
  }
  .h_nota_int {
    font-size: 30px;
  }
  .txt_nota_int h2 {
    font-size: 24px;
    line-height: 120%;
  }
  .txt_nota_int h3 {
    font-size: 18px;
  }
  /**********************/
}
@media screen and (max-width: 480px) {
  .cnt_inf_not_dest {
    padding: 24px;
  }
  .cnt_inf_not_dest .fecha_nota {
    padding: none;
    border: none;
  }
  .row_fecha_autor {
    flex-direction: column;
    gap: 8px;
  }
  .h_not_dest, .h_otra_not_dest {
    font-size: 22px;
    line-height: 24px;
  }
  .inf_otra_not_dest {
    padding: 24px;
  }
  .card_not_list {
    width: 100%;
  }
  .cnt_inf_card_not {
    padding: 24px;
  }
  /*******INTERNA********/
  .cnt_redes_nota {
    position: fixed;
    top: 120px;
    left: 0;
  }
  .row_fecha_autor .fecha_nota {
    border: none;
  }
  .txt_nota_int {
    padding-top: 0;
  }
  .cnt_cards_not_interes_int {
    flex-direction: column;
  }
  .txt_ant_sig_not {
    display: none;
  }
  /*******************/
}/*# sourceMappingURL=blog.css.map */