@charset "UTF-8";
.s_top_lineas {
  width: 100%;
  height: calc(100vh - 93px);
  display: flex;
}
.s_top_lineas:hover .col_top_linea {
  width: 20%;
}
.s_top_lineas:hover .col_top_linea:hover {
  width: 40%;
}
.s_top_lineas:hover .col_top_linea .img_top_linea {
  filter: grayscale(1);
}

.col_top_linea {
  width: 25%;
  overflow: hidden;
  position: relative;
}
.col_top_linea:hover .cnt_logo_top_linea {
  width: 137px;
  min-width: 137px;
  height: 88px;
  background: #fff;
  border-left: 48px solid grey;
  opacity: 1;
}
.col_top_linea:hover .img_top_linea {
  filter: grayscale(0) !important;
}
.col_top_linea:hover .img_top_linea img {
  transform: scale(1.1);
}
.col_top_linea:hover .nombre_linea_top span, .col_top_linea:hover .nombre_linea_top b {
  left: 0;
}
.col_top_linea:hover .btn_linea_top {
  left: 0;
}
.col_top_linea.c_cnst .cnt_logo_top_linea {
  border-color: #2A3C7F;
}
.col_top_linea.c_cnst .cnt_logo_top_linea img {
  transform: scale(1.04);
}
.col_top_linea.c_cnst:hover .img_top_linea:after {
  background: linear-gradient(180deg, rgba(42, 60, 127, 0) 0%, rgba(42, 60, 127, 0.9) 100%);
}
.col_top_linea.c_inmb .cnt_logo_top_linea {
  border-color: #036EFF;
}
.col_top_linea.c_inmb:hover .img_top_linea:after {
  background: linear-gradient(180deg, rgba(42, 60, 127, 0) 0%, rgba(38, 72, 194, 0.9) 100%);
}
.col_top_linea.c_avl .cnt_logo_top_linea {
  border-color: #003FE9;
}
.col_top_linea.c_avl:hover .img_top_linea:after {
  background: linear-gradient(180deg, rgba(33, 63, 171, 0) 0%, rgba(20, 64, 220, 0.9) 100%);
}
.col_top_linea.c_strg .cnt_logo_top_linea {
  border-color: #FFEC00;
}
.col_top_linea.c_strg .nombre_linea_top span {
  color: #000;
}
.col_top_linea.c_strg .nombre_linea_top b {
  background: linear-gradient(180deg, #6c6c6c 40.31%, #404040 67.33%, #000000 93.8%), #3f3f3f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.col_top_linea.c_strg:hover .img_top_linea:after {
  background: linear-gradient(180deg, rgba(171, 162, 33, 0) 0%, rgba(220, 207, 20, 0.9) 100%);
}

.img_top_linea {
  width: 100%;
  height: 100%;
  transition: all 0.8s;
}
.img_top_linea img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 1s;
}
.img_top_linea:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.cnt_inf_top_linea {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding-bottom: 40px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.cnt_logo_top_linea {
  min-width: 120px;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 0 6px 6px 0;
  border-left: 0px solid grey;
  box-sizing: border-box;
  padding: 20px 12px;
  opacity: 0.8;
}
.cnt_logo_top_linea img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inf_top_linea {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-right: 24px;
}

.nombre_linea_top {
  width: 100%;
  color: #FFF;
  padding: 16px 0;
}
.nombre_linea_top span {
  font-size: 24px;
  letter-spacing: 14px;
  line-height: 90%;
  display: block;
  position: relative;
  left: 110%;
  transition: all 0.3s;
  font-weight: 900∫;
}
.nombre_linea_top b {
  background: linear-gradient(180deg, #FFFFFF 40.31%, #E4E4E4 67.33%, #C6C6C6 93.8%), #C2C2C2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
  font-size: 35px;
  position: relative;
  left: 110%;
  transition: all 0.6s;
}

.btn_linea_top {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 24px;
  position: relative;
  left: 110%;
  transition: all 0.9s;
}
.btn_linea_top:before {
  background: #fff;
}
.btn_linea_top:hover {
  color: #2A3C7F;
}

.s_vid_home {
  width: 100%;
  position: relative;
  background: #fafafa;
  overflow: hidden;
}
.s_vid_home:before {
  content: "";
  display: block;
  width: 90%;
  height: 429px;
  background: rgba(225, 233, 238, 0.7);
  position: absolute;
  bottom: -280px;
  border-radius: 50%;
  left: 5%;
  filter: blur(72px);
}

.cnt_gen_caracteristicas_home {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 64px 0;
  gap: 48px;
}
.cnt_gen_caracteristicas_home:before {
  content: "";
  width: 100%;
  background: #F0F2F7;
  border-radius: 0px 0px 32px 32px;
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
}

.itm_caract_home {
  max-width: 244px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.img_itm_caract_home {
  width: 100%;
  height: 129px;
  background: #fff;
  padding: 32px;
  box-shadow: 0px 13px 36px -8px #A6B7C6;
  border-radius: 12px;
  box-sizing: border-box;
}
.img_itm_caract_home img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.txt_carac_home {
  width: 100%;
  max-width: 190px;
  margin: 0 auto;
  font-size: 16px;
  color: #636363;
  text-align: center;
}

.cnt_row_video {
  width: 100%;
  max-width: 1005px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 48px;
  margin: auto;
  padding-bottom: 80px;
}

.col_inf_vid_home {
  width: 50%;
  max-width: 427px;
  text-align: left;
}
.col_inf_vid_home .btn {
  margin-top: 24px;
}

.h_novedades {
  font-size: 16px;
  color: var(--c_pri);
  letter-spacing: 12px;
}

.h_vid_home {
  font-size: 52px;
  line-height: 98%;
  color: var(--c_pri);
  font-weight: 900;
  padding: 8px 0;
}

.txt_vid_home {
  font-size: 18px;
  color: var(--c_pri);
}

.col_vid_home {
  width: 50%;
  max-width: 458px;
  height: 254px;
  position: relative;
}
.col_vid_home iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  z-index: 1;
}
.col_vid_home:before {
  content: "";
  width: 139px;
  height: 80px;
  position: absolute;
  bottom: -40px;
  left: -65px;
  background: url(../images/diseno/home/dots.png);
}
.col_vid_home:after {
  content: "";
  width: 49px;
  height: 42px;
  position: absolute;
  top: -24px;
  right: -75px;
  background: url(../images/diseno/contacto/flechas.svg);
}
.col_vid_home .w_oikos {
  width: 100%;
  font-size: 192px;
  color: var(--c_pri);
  opacity: 0.04;
  display: block;
  position: absolute;
  top: 24px;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.proy_dest {
  width: 100%;
  padding: 72px 0;
  background: url(../images/diseno/home/bg_dest.jpg) center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.proy_dest .h_oikos {
  color: #fff;
  font-size: 42px;
  box-sizing: border-box;
}
.proy_dest .h_oikos:before {
  color: #fff;
}

.cnt_car_proy_dest {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 32px 5%;
}
.cnt_car_proy_dest .swiper-slide {
  height: auto;
}
.cnt_car_proy_dest .swiper-button-next, .cnt_car_proy_dest .swiper-button-prev {
  width: 40px;
  height: 40px;
  background: url(../images/diseno/home/ic_flecha_car.png) no-repeat center;
  background-size: 100% auto;
}
.cnt_car_proy_dest .swiper-button-next {
  transform: rotate(180deg);
}

.card_proy_dest {
  width: 95%;
  margin: auto;
  max-width: 350px;
  background: #fff;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 54px;
}

.img_card_proy_dest {
  width: 100%;
  height: 218px;
}
.img_card_proy_dest img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.etq_aviso_proy {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
  border-radius: 24px;
  padding: 4px 20px;
  background: gray;
}
.etq_aviso_proy.lanzamiento {
  background: #FFEC00;
}
.etq_aviso_proy.nuevo {
  background: #9feb3c;
}
.etq_aviso_proy.ultimos {
  background: #e04a2d;
  color: #fff;
}

.cnt_btns_top_proy {
  background: linear-gradient(135.57deg, #4565B3 0%, #2B478B 54.17%, #13203E 100%);
  border: 1px solid #0060E3;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  cursor: pointer;
}

.btn_top_proy {
  padding: 0 8px;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_top_proy:last-child {
  border: none;
}

.log_nomb_proy_dest {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 8px 16px 8px 116px;
  background: #2E3B85;
  text-align: left;
  font-size: 15px;
  line-height: 110%;
  color: #fff;
  font-weight: 800;
}

.logo_card_proy_dest {
  width: 88px;
  height: 88px;
  box-sizing: border-box;
  padding: 12px;
  overflow: hidden;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.33);
}
.logo_card_proy_dest img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.cnt_inf_card_proy_dest {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 32px 0 0;
}

.lugar_proy_dest {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: var(--c_pri);
  box-sizing: border-box;
  padding: 0 16px;
}

.row_precio_proy_dest {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--c_pri);
  justify-content: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.desde {
  font-size: 16px;
}

.precio_proy_dest {
  font-size: 33px;
  font-weight: 900;
}

.cnt_aviso_subsidio {
  width: 100%;
  background: linear-gradient(90deg, rgba(238, 238, 238, 0.5) 0%, #EEEEEE 48.96%, rgba(238, 238, 238, 0.5) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  font-size: 16px;
  color: var(--c_pri);
  margin-top: 16px;
  box-sizing: border-box;
}
.cnt_aviso_subsidio.disabled {
  display: none;
}

.ic_subs {
  width: 18px;
}

.cnt_cta_card_proy_dest {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.cnt_cta_card_proy_dest .btn {
  padding-left: 16px;
  padding-right: 16px;
}

.btn_wa_proy_dest {
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn_wa_proy_dest:hover .txt_btn_wa {
  color: #42E55F;
}

.ic_wa_pd {
  width: 30px;
  min-width: 30px;
  height: 30px;
}

.txt_btn_wa {
  font-size: 18px;
  color: var(--c_pri);
  text-decoration: underline;
}

.row_btn_todos_proy {
  width: 100%;
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.row_btn_todos_proy:before, .row_btn_todos_proy:after {
  content: "";
  width: 30%;
  max-width: 274px;
  height: 1px;
  background: #254F7C;
}

.btn_todos_proy {
  background: linear-gradient(104.32deg, #E1E1E1 0%, #E4E4E4 18.75%, #FFFFFF 100%);
  box-shadow: 0px 6px 2px -5px rgba(0, 0, 0, 0.29), inset 2px 2px 1px #FFFFFF, inset -2px -2px 1px rgba(0, 0, 0, 0.19);
  color: var(--c_pri);
  align-items: center;
  font-size: 18px;
  padding: 10px 24px;
}
.btn_todos_proy span {
  font-size: 18px;
  margin-left: 8px;
}
.btn_todos_proy:before {
  mix-blend-mode: darken;
}
.btn_todos_proy:hover {
  color: #fff;
}

.s_noticias_home {
  width: 100%;
  padding: 120px 0;
}

.cnt_nots_home {
  width: 100%;
  max-width: 1142px;
  display: flex;
  gap: 20px;
  margin: auto;
}

.col_left_not_home {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: right;
  color: var(--c_pri);
  align-items: flex-end;
}
.col_left_not_home .btn {
  margin-top: 16px;
  font-size: 20px;
}

.h_blogs {
  font-size: 16px;
  letter-spacing: 6px;
}

.h_nots_home {
  font-size: 42px;
  font-weight: 900;
  line-height: 104%;
}

.txt_nots_home {
  font-size: 16px;
}

.col_mid_not_home {
  width: 55%;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}
.col_mid_not_home:hover .img_not_home {
  transform: scale(1.1);
}

.img_not_home {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.6s;
}
.img_not_home img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo_not_home {
  width: 172px;
  height: 108px;
  padding: 16px 28px 32px;
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  background: url(../images/diseno/quienes_somos/bg_logo_historia.png) no-repeat center;
}
.logo_not_home img {
  height: 100%;
  object-fit: contain;
}

.col_not_lineas {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_not_linea_home {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 33%;
  border-radius: 8px;
}
.btn_not_linea_home.n_inmb .slide_btn_not_linea {
  background: #036EFF;
}
.btn_not_linea_home.n_cnst .slide_btn_not_linea {
  background: linear-gradient(135.57deg, #4565B3 0%, #2B478B 54.17%, #13203E 100%);
}
.btn_not_linea_home.n_strg .slide_btn_not_linea {
  background: #FFEC00;
}
.btn_not_linea_home.n_strg .txt_not_linea {
  color: #000000;
}
.btn_not_linea_home:hover .slide_btn_not_linea {
  left: -15%;
}
.btn_not_linea_home:hover .txt_not_linea {
  opacity: 1;
  transform: translateX(0);
}

.img_btn_linea_home {
  width: 100%;
  height: 100%;
}
.img_btn_linea_home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide_btn_not_linea {
  width: 80%;
  height: 100%;
  background: grey;
  transform: skewX(-12deg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 32px;
  position: absolute;
  left: -40%;
  top: 0;
}

.logo_not_linea {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 60;
  height: 43px;
}
.logo_not_linea img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.txt_not_linea {
  width: 135px;
  bottom: 16px;
  left: 12px;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  transform: translateX(-80px);
  transition: all 0.6s;
  opacity: 0;
}

.cnt_sobre_home {
  width: 100%;
  max-width: 1141px;
  margin: 120px auto 40px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.img_video_sobre {
  width: 40%;
  max-width: 482px;
  border: 18px solid #FFFFFF;
  box-shadow: 0px 22px 38px -10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.img_video_sobre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play_40_a {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/diseno/quienes_somos/play.svg) no-repeat center #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.play_40_a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  animation: wave_play_40 2s infinite;
  transition: all 0.3s;
  border-radius: 50%;
}

@keyframes wave_play_40 {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
.cnt_inf_sobre_home {
  text-align: left;
  color: var(--c_pri);
  width: 60%;
  max-width: 604px;
}
.cnt_inf_sobre_home .btn {
  font-size: 18px;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.h_top_sobre {
  font-size: 16px;
  letter-spacing: 6px;
  width: 100%;
}

.h_sobre_home {
  font-size: 42px;
  font-weight: 900;
  line-height: 110%;
}

.txt_sobre_home {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 1050px) {
  .s_top_lineas {
    height: auto;
    flex-wrap: wrap;
  }
  .s_top_lineas:hover .col_top_linea {
    width: 50%;
  }
  .s_top_lineas:hover .col_top_linea:hover {
    width: 50%;
  }
  .col_top_linea {
    width: 50%;
    height: 360px;
  }
  .col_top_linea:hover {
    width: 50%;
  }
  .col_top_linea:hover .cnt_logo_top_linea {
    width: 114px;
    height: 78px;
    opacity: 1;
    border-left-width: 32px;
  }
  .col_top_linea.c_strg .nombre_linea_top span {
    color: #fff;
  }
  .col_top_linea.c_strg .nombre_linea_top b {
    background: linear-gradient(180deg, #FFFFFF 40.31%, #E4E4E4 67.33%, #C6C6C6 93.8%), #C2C2C2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .cnt_inf_top_linea {
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
    padding-bottom: 24px;
  }
  .img_top_linea:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  .inf_top_linea {
    padding: 0 32px;
  }
  .nombre_linea_top {
    padding: 4px 0;
  }
  .nombre_linea_top span {
    left: 0;
    font-size: 18px;
  }
  .nombre_linea_top b {
    left: 0;
    font-size: 22px;
  }
  .btn_linea_top {
    left: 0;
    padding: 4px 24px;
  }
  .cnt_logo_top_linea {
    min-width: none;
    width: 114px;
    height: 78px;
    opacity: 1;
    border-left-width: 32px;
  }
  .h_vid_home {
    font-size: 30px;
  }
  .col_vid_home:after, .col_vid_home:before {
    display: none;
  }
  .proy_dest {
    padding: 40px 0;
  }
  /***CARDS PROYECTOS***/
  .row_precio_proy_dest {
    font-size: 18px;
    flex-direction: column;
    padding-top: 8px;
    gap: 0;
  }
  .cnt_cta_card_proy_dest .btn {
    padding: 4px 16px;
    font-size: 14px;
  }
  .precio_proy_dest {
    font-size: 24px;
  }
  .ic_wa_pd {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }
  .txt_btn_wa {
    font-size: 14px;
  }
  /***/
  .row_btn_todos_proy:before, .row_btn_todos_proy:after {
    width: 15%;
  }
  .s_noticias_home {
    padding: 60px 0;
  }
  .cnt_nots_home {
    flex-wrap: wrap;
    gap: 3%;
  }
  .col_left_not_home {
    width: 40%;
  }
  .col_mid_not_home {
    width: 57%;
  }
  .col_not_lineas {
    width: 100%;
    height: 140px;
    flex-direction: row;
    margin-top: 24px;
  }
  .btn_not_linea_home {
    height: 100%;
  }
  .slide_btn_not_linea, .btn_not_linea_home:hover .slide_btn_not_linea {
    left: -15%;
  }
  .txt_not_linea, .btn_not_linea_home:hover .txt_not_linea {
    width: 50%;
    opacity: 1;
    transform: none;
    font-size: 14px;
  }
  .cnt_sobre_home {
    margin-top: 70px;
  }
  .h_sobre_home {
    font-size: 30px;
    line-height: 100%;
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .cnt_gen_caracteristicas_home {
    padding: 40px 0;
    gap: 2%;
  }
  .itm_caract_home {
    width: 32%;
  }
  .img_itm_caract_home {
    padding: 32px 24px;
  }
  .txt_carac_home {
    font-size: 14px;
    line-height: 16px;
  }
  .cnt_row_video {
    flex-direction: column;
    max-width: 500px;
  }
  .col_inf_vid_home {
    width: 100%;
  }
  .col_vid_home {
    width: 100%;
  }
  .proy_dest .h_oikos {
    font-size: 30px;
    padding: 16px;
  }
  .cnt_car_proy_dest {
    padding: 16px 0;
  }
  .cnt_car_proy_dest .swiper-button-next {
    right: -20px;
  }
  .cnt_car_proy_dest .swiper-button-prev {
    left: -20px;
  }
  .img_card_proy_dest {
    height: 160px;
  }
  .slide_btn_not_linea, .btn_not_linea_home:hover .slide_btn_not_linea {
    transform: skewX(15deg);
    left: -10%;
  }
  .txt_not_linea, .btn_not_linea_home:hover .txt_not_linea {
    font-size: 12px;
  }
  .row_btn_todos_proy:before, .row_btn_todos_proy:after {
    display: none;
  }
  .btn_todos_proy {
    font-size: 16px;
  }
  .cnt_nots_home {
    flex-direction: column;
  }
  .col_left_not_home {
    width: 100%;
    padding-bottom: 16px;
    text-align: left;
    align-items: flex-start;
  }
  .col_left_not_home .btn {
    margin-top: 0;
  }
  .col_mid_not_home {
    width: 100%;
  }
  .cnt_sobre_home {
    flex-direction: column;
    max-width: 500px;
  }
  .img_video_sobre {
    width: 100%;
  }
  .cnt_inf_sobre_home {
    width: 100%;
  }
  .img_video_sobre {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .col_top_linea {
    height: 270px;
  }
  .img_top_linea:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 100%);
  }
  .cnt_logo_top_linea {
    border-left-width: 16px;
  }
  .cnt_logo_top_linea {
    min-width: inherit;
    width: 90px;
  }
  .inf_top_linea {
    box-sizing: border-box;
    padding: 0 16px;
  }
  .nombre_linea_top b {
    font-size: 18px;
  }
  .cnt_gen_caracteristicas_home {
    flex-direction: column;
    gap: 12px;
  }
  .cnt_gen_caracteristicas_home:before {
    display: none;
  }
  .itm_caract_home {
    width: 100%;
    flex-direction: row;
    align-items: center;
    max-width: inherit;
  }
  .txt_carac_home {
    text-align: left;
  }
  .col_vid_home {
    height: 200px;
  }
  .col_not_lineas {
    flex-direction: column;
    height: auto;
  }
  .btn_not_linea_home {
    height: 130px;
  }
  .slide_btn_not_linea, .btn_not_linea_home:hover .slide_btn_not_linea {
    left: -30%;
  }
  .txt_not_linea {
    width: 45%;
  }
}/*# sourceMappingURL=home.css.map */