.s_header_proveedores{
    background: linear-gradient(180deg, #182360 0%, #182360cc 100%), linear-gradient(0deg, #000000, #000000), url('../images/diseno/proveedores/img_header.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: normal, color, normal;
    position: relative;
    padding: 20px 20px 60px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    .miga{
        color: #FFF;
        a{
            color: #FFF;
        }
    }
    &::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        background: url('../images/diseno/proveedores/curva_blanca.svg') no-repeat;
        background-position: center bottom;
        background-size: cover;
        width: 100%;
        height: 100px;
        pointer-events: none;
        z-index: 2;
    }
}

.c_header_proveedores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    transform: translateY(50px);
    picture{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        justify-self: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.col_info_prov{
    text-align: left;
    color: #FFF;
}
h1{
    font-weight: 800;
    font-size: 54px;
    text-align: left;
    max-width: 600px;
    line-height: .9;
    margin: 0 0 20px;
}
h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin: 0 0 10px;
}
.ctas_prov{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    gap: 60px;
}

@keyframes onda{
    0%{
        width: 20px;
        height: 20px;
        border:6px solid #fff;
        opacity:1
    }
    100%{
        width: 60px;
        height: 60px;
        border:1px solid #fff;
        opacity:0
    }
}

.btn_video{
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    span{
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #182360;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            margin: auto;
            width: 20px;
            height: 20px;
            border:6px solid #fff;
            opacity:1;
            border-radius: 100px;
            animation:onda 2000ms infinite ;
        }
    }
}

.my-0{
    margin-top: 0;
    margin-bottom: 0;
}

.desc_txt{
    line-height: 1.5;
}

.c_sesion_proveedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    justify-items: center;
    max-width: 950px;
    margin: 80px auto 100px;
    picture{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 413px;
        height: 100%;
        min-height: 514px;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: -40px;
            background: url('../images/diseno/contacto/puntos.svg') no-repeat center;
            background-size: contain;
            width: 20px;
            height: 90px;
            transform: rotate(180deg);
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: -40px;
            background: url('../images/diseno/contacto/puntos.svg') no-repeat center;
            background-size: contain;
            width: 20px;
            height: 90px;
        }
        img{
            border-radius: 30px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.form_proveedores{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .h_oikos{
        text-align: left;
        line-height: 1;
        padding: 0 0 20px;
        &:before{
            content:'INICIA SESIÓN';
        }
    }
    .desc_form{
        text-align: left;
        margin: 0 0 10px;
    }
    .cont_submit{
        margin: 20px 0 0;
        .btn{
            width: 180px;
            text-align: center;
            justify-content: center;
        }
    }
}

input[type=password] + span{
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.restaurar_pass{
    color: #182360;
    &:hover{
        text-decoration: underline;
    }
}

.c_entradas_prov{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    max-width: 950px;
    margin: 0 auto 80px;
}

.entry_card{
    overflow: hidden;
    width: 100%;
    min-height: 290px;
    display: flexd;
    position: relative;
    border-radius: 8px;
    &:hover{
        transform: scale(1.04);
        box-shadow: 0px 25px 25px -17px rgba(34, 51, 111, 0.47);
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 70px;
        background: linear-gradient(to top, #112572 26.98%, #164EDD 118.66%);
        z-index: 1;
        left: 0;
        right: 0;
    }
    &::after{
        content: '';
        position: absolute;
        background: url('../images/diseno/proveedores/curva_card.svg') no-repeat center;
        z-index: 1;
        top:65px;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
    }
    .txt_card{
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        color: #FFF;
        padding: 10px;
        box-sizing: border-box;
        line-height: 1.2;
        h3{
            font-weight: 800;
            font-size: 18px;
        }
        div{
            font-size: 14px;
            max-width: 260px;
            margin: auto;
        }
    }
    picture{
        display: flex;
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        img{
            transition: 400ms ease;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .btn{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width:1050px){
    .c_header_proveedores{
        grid-template-columns: 1fr;
    }
    .c_sesion_proveedor{
        gap: 40px;
    }
}
@media screen and (max-width:768px){
    h1{
        font-size: 32px;
    }
    .h_oikos{
        font-size: 32px;
    }
    .c_entradas_prov{
        grid-template-columns: 1fr;
    }
    .entry_card::after{
        background-size: cover;
        background-position: bottom;
        height: 80px;
    }
    .c_sesion_proveedor{
        grid-template-columns: 1fr;
    }
    .c_sesion_proveedor picture{
        max-width: initial;
        max-height: 300px;
        min-height: initial;
        width: 100%;
    }
    .c_sesion_proveedor picture:before, .c_sesion_proveedor picture:after{
        display: none;
    }
    .s_header_proveedores{
        padding: 0 0 60px;
    }
    .ctas_prov{
        align-items: baseline;
    }
    .cnt_central{
        padding: 0 20px;
    }
}
@media screen and (max-width:480px){
    .ctas_prov{
        gap: 20px;
        align-items: baseline;
    }
}